<h2><%=@game.current_turn.name%>'s turn</h2>

<p><%=@game.player_1.name%> vs. <%=@game.player_2.name%></p>

<p><%=@game.player_2.name%>: <%=@game.player_2.hit_points %>/60 HP</p>
<p><%=@game.player_1.name%>: <%=@game.player_1.hit_points %>/60 HP</p>

<p><%=@game.lose_game%><p>

<a href="/attack_player_2">Attack</a>
